---
import About from '../../components/pages/about.astro';
---

<About title="About Me">
  <article>
    <h1>About me</h1>

    <p class="text-xl">
      I am a full-stack web engineer who strongly believes in continuous learning. I am tirelessly
      curious, I love talking about technical things, and I love writing elegant, aesthetic, and
      problem-solving code.
    </p>

    <p>
      <em>More will come soon...</em>
    </p>
  </article>
</About>
