---
import About from '../components/pages/about.astro';
---

<About title="About Me">
  <article>
    <h1>About me</h1>

    <p class="text-xl">
      Sono un full-stack web engineer che fonda la sua formazione sull'apprendimento continuo. Mi
      piace parlare di argomenti tecnici e amo scrivere codice elegante, estetico e funzionale.
    </p>

    <p>
      <em>More will come soon...</em>
    </p>
  </article>
</About>
