---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { SITE_TITLE } from '../consts';

const currentLang = Astro.currentLocale || 'it';
---

<header class="w-full top-0 z-50">
  <nav class="mx-auto px-12 py-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <a href={getRelativeLocaleUrl(currentLang, '')} class="block">
        <Image
          src="/logo.png"
          alt={SITE_TITLE}
          width={93}
          height={40}
          class="h-14 w-auto"
          loading="eager"
        />
      </a>
    </div>

    <div class="flex items-center gap-6">
      <HeaderLink
        href={getRelativeLocaleUrl(currentLang, '')}
        class="text-gray-300 hover:text-primary">Home</HeaderLink
      >
      <!-- <HeaderLink
        href={getRelativeLocaleUrl(currentLang, 'about-me')}
        class="text-gray-300 hover:text-primary">About me</HeaderLink
      > -->
      <HeaderLink
        href={getRelativeLocaleUrl(currentLang, 'events-and-talks')}
        class="text-gray-300 hover:text-primary">Events & Talks</HeaderLink
      >
      <HeaderLink
        href={getRelativeLocaleUrl(currentLang, 'blog')}
        class="text-gray-300 hover:text-primary">Blog</HeaderLink
      >

      <div class="w-px h-6 bg-gray-700"></div>
      {
        currentLang === 'it' ? (
          <HeaderLink
            href={getRelativeLocaleUrl('en', '')}
            class="text-gray-300 hover:text-primary"
          >
            EN
          </HeaderLink>
        ) : (
          <HeaderLink
            href={getRelativeLocaleUrl('it', '')}
            class="text-gray-300 hover:text-primary"
          >
            IT
          </HeaderLink>
        )
      }
    </div>
  </nav>
</header>

<style>
  /* Sovrascriviamo lo stile di HeaderLink per il tema scuro */
  :global(a.active) {
    @apply text-purple-400 font-bold;
  }
</style>
