---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION } from '../consts';

interface Props {
  title: string;
  alternateUrls?: {
    [key: string]: string;
  };
}

const { title, alternateUrls = {} } = Astro.props;
const currentLang = Astro.currentLocale || 'it';
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    {
      Object.entries(alternateUrls).map(([lang, url]) => (
        <link rel="alternate" hreflang={lang} href={new URL(url, Astro.site).toString()} />
      ))
    }
  </head>
  <body>
    <div class="container box-content px-4 min-h-screen mx-auto bg-black/80">
      <Header />
      <main class="mt-12 md:px-[8.33333%]">
        <slot />
      </main>
    </div>
  </body>
</html>
